
<div class = "header">
    <% if @user_id %>   
        <p>Welcome <%= User.find(@user_id).email %>!</p>
        <%= link_to "Add a product", new_product_path %>
        <%= link_to "See all products", products_path %>
        <%= link_to "Log out", session_path(@user_id), :method => "delete" %>
    <% else %>
        <%= link_to "Sign up", new_user_path %>
        <p> or </p>
        <%= link_to "Login", new_session_path %>
    <% end %>
</div>
</div>

<div class = "content_body">
    <h1>Here are all the products</h1>

        <% @products.each do |product| %>

            <div class="product">
            <%= image_tag(product.image_url, size: "150x200") %>
            <p><%= product.product_name %></p>
            <p><%= product.product_description %></p>
            <p><%= product.price/100.00 %></p>
            <p><%= link_to "Remove this product", product, method: "delete" %></p>
            </div>

    <% end %>

</div>